body{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 5vw;
    color: deeppink;
    background-color: lightpink;
}
body{
    text-align: center;
}
button {
    display: block;
    margin: auto;
    border-radius: 3rem;
    padding: 0.5rem 2rem;
    color: coral;
    background-color: lavender;
}
.totals,
.toppings{
    margin: auto;
}
.toppings{
    background-color: whitesmoke;
}
th, .toppings>* {
    text-align: left;
}
.toppings > *{
    text-align: left;
}
.totals td{
    text-align: right;
}
.toppings table{
    border: 1px solid fuchsia;
    background-color: lavender;
}
*{
    opacity: 1;
    transition: opacity ease-in-out 1s;
}
.hidden{
    opacity: 0;
}