body{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3.5vw;
    color: deeppink;
    background-color: rgb(255, 218, 223);
    background-image: url(../images/icecream.webp);
}
body{
    text-align: center;
}
button {
    display: block;
    margin: auto;
    border-radius: 5rem;
    padding: 0.5rem 2rem;
    color: coral;
    background-color: lavender;
    border-color: fuchsia;
}
.totals,
.toppings{
    margin: auto;
}
.toppings{
    background-color: rgb(253, 181, 154);
}
th, .toppings>* {
    text-align: left;
}
.toppings > *{
    text-align: left;
}
.totals td{
    text-align: right;
}
.toppings table{
    border: 6px dotted rgb(255, 175, 151);
    background-color: lavender;
}
*{
    opacity: 1;
    transition: opacity ease-in-out 1s;
}
.hidden{
    opacity: 0;
}
.totals{
    background-color: white;
    background: transparent;
    backdrop-filter: blur(13px);
    border: 6px dotted white;
}